<a href="https://colab.research.google.com/github/antonutellaa/pete-comp-meth-public/blob/main/python_exercises2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lets continue with our data from the previous exercise:

In [ ]:
patients = {
    521236: {
        'last_name': 'Dawson',
        'first_name': 'Louise',
        'temperatures': [37.7, 37.2, 37.5, 37.3],
        'height': 1.49
    },
    627256: {
        'last_name': 'Valencia',
        'first_name': 'Thelma',
        'temperatures': [36.5, 36.9],
        'height': 1.74
    },
    876516: {
        'last_name': 'Ventura',
        'first_name': 'William',
        'temperatures': [36.6, 36.8, 37.8, 37.2],
        'height': 1.70
    },
    161451: {
        'last_name': 'Shackelford',
        'first_name': 'Steven',
        'temperatures': [37.9, 38.4, 38.4],
        'height': 1.67
    },
    623724: {
        'last_name': 'Rzeczycki',
        'first_name': 'Kristi',
        'temperatures': [37.9, 37.8],
        'height': 1.65
    }
}

Write a function `summarize_patient` that takes a patient id and displays their name and the number of temperature measurements. You may assume that the patient id is in the above dictionary.

For example, calling
```
summarize_patient(623724)
```

should display:
```
Kristi Rzeczycki has 2 recorded temperatures.
```

Test your function.

Recall from the lecture that we can convert temperatures from degrees Celsius to degrees Fahrenheit using the function:

In [ ]:
def degc_to_degf(degc):
  return 32 + 9 * degc / 5

Define a new function, `summarize_patient2` that takes a patient id and prints their name and highest temperature converted to degrees Fahrenheit. e.g. calling
```
summarize_patient2(623724)
```
should display
```
Kristi Rzeczycki's highest temperature was 100.22 F.
```

Test your function. How can you tell if it is correct?