<a href="https://colab.research.google.com/github/antonutellaa/pete-comp-meth-public/blob/main/python_exercises3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's return to our list of words from the first exercise:

In [ ]:
words = [
         "In", "order", "to", "support", "research", "on", "genomics",
         "proteomics", "signaling", "on", "the", "neostriatum", "in",
         "rats", "and", "humans", "proteins", "arithmetic", "species",
         "compiled", "significant", "differences", "in", "species", "primate",
         "Designation", "of", "proteins", "without", "integration",
         "designation"
]

Using a `for` loop, a dictionary, an `if` statement, and an arithmetic operator to build a dictionary whose keys are words and whose values are the counts of the number of times the given word has occurred.

*Hint: remember that you can check to see if a key is in a dictionary using the `in` operator.*

Turn your previous code into a function `count_words` that takes a list of words and returns a dictionary of their counts.

Every string has a `.split()` method that can be used to split it into a list. By default, this method splits at white space (including spaces and line breaks). For example:

In [ ]:
short_note = 'Patient reported a stomachache'
short_note.split()

['Patient', 'reported', 'a', 'stomachache']

Consider instead the following note:

In [ ]:
note = '''
Patient reported a stomachache

When asked what they ate recently the patient reported that they ate nothing out of
the ordinary They refused to provide any further information

Tests for abdominal muscle injury negative Recommend monitoring and antacid'''

Split it into its component words using the `.split()` method and use your `count_words` function to count the number of each word in the note. This can be done in one line:

In particular, have the computer report how many times the word `"patient"` appears by looking up the word in the dictionary:

You may have noticed that your code reports "Patient" appeared once and "patient" also appeared once. This is because they are written differently; one has a capital letter and one does not. Fortunately, Python lets us standardize words into their lowercase forms using a string's `.lower()` method; for example:

In [ ]:
short_note.lower()

'patient reported a stomachache'

Now, recount the words in `note` by lowercasing them first. How many times does `"patient"` appear now? What about `"injury"`?

Let's return to the patients dictionary from the first exercises:

In [ ]:
patients = {
    521236: {
        'last_name': 'Dawson',
        'first_name': 'Louise',
        'temperatures': [37.7, 37.2, 37.5, 37.3],
        'height': 1.49
    },
    627256: {
        'last_name': 'Valencia',
        'first_name': 'Thelma',
        'temperatures': [36.5, 36.9],
        'height': 1.74
    },
    876516: {
        'last_name': 'Ventura',
        'first_name': 'William',
        'temperatures': [36.6, 36.8, 37.8, 37.2],
        'height': 1.70
    },
    161451: {
        'last_name': 'Shackelford',
        'first_name': 'Steven',
        'temperatures': [37.9, 38.4, 38.4],
        'height': 1.67
    },
    623724: {
        'last_name': 'Rzeczycki',
        'first_name': 'Kristi',
        'temperatures': [37.9, 37.8],
        'height': 1.65
    }
}

Loop over all the patients (you will want to use `.items()`), and print out the names and heights of all the patients with *more* than three temperature readings; for example, you'll have a line that reads:

    William Ventura: 1.7m

*Hint: remember that you can use an f-string to print out more than one piece of data on a line*